* {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.container-fluid {
    padding: 0;
}
header {
    width: 100%;
    min-height: 70px;
    background-color: #1b2a3a;
    padding: 20px;
    position: fixed;
}
body {
    background-color: #e7e7e7;

}
.form-signup {
    width: 30%;
    text-align: center;
    margin-top: 128px;
    color: #989595;
}
.form-login {
    margin-top: 400px;
    text-align: center;
    margin-right: -256px;
    float: right;
}
.login-input {
    color: #333333;
    font-size: 16px;
    font-weight: normal;
    width: 50%;
    height: 60px;
    margin-bottom: 16px;
}
#header-signup {
    font-size: 24px;
    color: #989595;
}
#signup-icon {
    color: #989595;
}
.form-input {
    color: #333333;
    font-size: 16px;
    font-weight: normal;
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
}
.form-content {
    margin-bottom: -0.25%;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
}
.mult-col {
    padding: 202px;
}
input:required {
    box-shadow: yellow;
}

/*
.col-sm-3{
    background: green;
}
*/

.center-row {
    text-align: center;
}
.center-col {
    display: inline-block;
    float: none;
}
.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child), .row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}
#button {
    color: white;
    background: #189a85;
    font-size: 18px;
    width: 50%;
    height: 64px;
    margin-top: 32px;
    margin-bottom: 32px;
}
#button:hover {
    background: #198577;
}
#btn-login {
    background: transparent;
    font-weight: bold;
    color: white;
}
#btn-login:hover {
    background: transparent;
    color: #189a85;
}
#btn-signup {
    color: white;
    background: #189a85;
}
#btn-signup:hover {
    background: #198577;
}
.footer-container {
    text-align: center;
}
.center-row {
    text-align: center;
}
.center-col {
    margin: 0 auto;
    display: inline-block;
    float: none;
}
.social-icons {
    color: white;
}
.social-icons:hover {
    color: #333333;
}
.icons {
    color: white;
}
.icons:hover {
    transform: scale(2);
}
.footer-index {
    width: 100% !important;
    bottom: 0!important;
    position: absolute!important;
    vertical-align: bottom;
}
footer {
    padding: 32px;
}
.navbar-footer {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}
a {
    background: transparent;
}
a:hover {
    background: transparent !important;
}
